
@import url(https://fonts.googleapis.com/css?family=Raleway:500,400,300,800,700);

body {
  font-family: Raleway;
  font-weight: 500;
  margin-left: .5in;
  margin-top: .5in;
  margin-right: .25in;
  }

input {
  margin-top: 2px;
  margin-bottom: 2px;
}

button {
  margin-bottom:  14px;
}

.help {
  font-size:smaller;
}


.inputForm {
  margin-top: 4px;
  margin-bottom: 4px;
}

.formField {
  margin-bottom: 14px;
}

.formMessage {
  font-size: smaller;
  word-break: break-word;
}

.formLabel {
  font-size: smaller;
}

.csvRow {
  display: none;
}

a {
  text-decoration: none;
  color: #795548;;
}

.annotationHeader {
  background-color: #f6f8fa;  
}

.annotationCard {
  margin-left: 20px;
  border-top-style: solid;
  border-top-width: thin;
  border-color: lightgray;
  padding-left: 8px;
  margin-top: 16px;
  margin-bottom: 14px;
}

.annotationCard {
  margin-bottom: 20px;
}

.annotationCardDivider {
  display: none;
}

.annotationTag {
  font-size: small;
  text-decoration: none;
  padding: 3px;
  color: #4B4040;
}

.annotationQuote {
  margin-top: 12px;
  color: #777;
  font-style: italic;
}

.annotationQuote:empty {
  margin-top: 0;
}

img {
  width: 90%;
  margin: 8px
}

.externalLink:after {
 content: url('https://jonudell.info/hlib/externalLink.png');
 margin: 0 0 0 5px;
}

.params {
  margin-top: 1em;
  white-space: pre;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.params .key {
  color: #995113;
}

.params .value {
  color:#030815
}

.checkboxContainer {
  display: flex;
}

.clearInput {
  font-size: smaller;
  cursor: pointer;
}

