
@import url(https://fonts.googleapis.com/css?family=Raleway:500,400,300,800,700);

a {
  text-decoration: none;
  color: #795548;;
}

body {
  font-family: Raleway;
  font-weight: 500;
  margin-left: .5in;
  margin-top: .5in;
  margin-right: .25in;
  }

button {
  border-width: thin;
  background-color:#efeeeb4f;
  color: #170802;
  margin-right: 4px;
}

div[is="annotation-tags-editor"] {
  display: flex;
  align-items: center;
}

div[is="annotation-tags-editor"] select {
  line-height: 1.6em;
}

img {
  width: 90%;
  margin: 8px
}

input {
  margin-top: 2px;
  margin-bottom: 2px;
}

.annotationBody{
  padding-right: 6px;
}

.annotationCard {
  margin-left: 30px;
  margin-top: 20px;
  border-top-style: solid;
  border-top-width: thin;
  border-color: #d3d3d37a;
  margin-bottom: 18px;
  padding-left: 8px;
  border-style: solid;
  border-width: thin;
}

.annotationCardDivider {
  display: none;
}

.annotationHeader {
  background-color: #efeeeb4f;
  display: flex;
}

.annotationTag {
  border-width: thin;
  border-style: solid;
  padding: 2px;
  border-color: lightgray;
  font-size: smaller;
  background-color: #f6f8fa;
  font-size: x-small;
  margin-right: 4px;
}

.annotationTags {
  margin-bottom: 6px;
}

.annotationTags input {
  margin-left: 4px;
  width: 8em;
}

.annotationText, .annotationQuote {
  font-size: smaller;
}

.annotationText blockquote {
  margin-left: 0px;
  font-style: italic;
  border-left-style: solid;
  border-left-color: lightgray;
  border-left-width: 3px;
  padding-left: 4px;
  color: #8d8282;  
}

.annotationQuote {
  margin-top: 12px;
  color: #777;
  font-style: italic;
  margin-bottom: 12px;
  border-left-style: solid;
  border-left-width:thin;
  border-left-color:lightgray;
  padding-left: 6px;
}

.checkboxContainer {
  display: flex;
}

.clearInput {
  font-size: smaller;
  cursor: pointer;
}

.dateTime {
  font-size: smaller;
}

.externalLinkImage {
  width: 1em;
  height: 1em;
  margin: 0;
}

.formField {
  margin-bottom: 14px;
}

.formMessage {
  font-size: smaller;
  word-break: break-word;
}

.formLabel {
  font-size: smaller;
}

.groupSlug {
  font-size: smaller;
}

.help {
  font-size:smaller;
}

.inputForm {
  margin-top: 4px;
  margin-bottom: 4px;
}

.params {
  margin-top: 1em;
  white-space: pre;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.params .key {
  color: #995113;
}

.params .value {
  color:#030815
}

.quoteContext {
  font-size: smaller;
}

.quoteExact {
  color:#321305;
  font-style: normal;
  padding-left: 4px;
  padding-right: 2px;
}

.tokenReset {
  font-size:small;
  cursor: pointer;
  display: none;
  margin-bottom: 4px;
}

